################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algo/Algo/obj
/Algo/Algo/bin/Debug/net5.0
/Algo/.vs/Algo/v16
/.vs
/Algo/.vs/Algo/DesignTimeBuild
/Algo/Algo/bin/Release/net5.0
/Algo/Benchmark/bin/Release/net5.0
/Algo/Benchmark/obj
